<h3>Le Contenu envoyé</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %> 
  <%= form.hidden_field :content %> 
  <textarea wrap="hard">Content:<%= @blog.content %></textarea>
  <%= form.submit  "Valider" %>
  <%= form.submit "Retour", name: 'back' %>
<% end %>

<%= link_to "Retour à la liste des Tweets", blogs_path %>